* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 {
    /* background-color: #081b31; */
    background-image: url("./images/kristaps.jpg");
    background-size: cover;
    color: #081b31;;
    height: 4rem;
    line-height: 4rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 47%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 3rem;
}

#user-score,
#comp-score {
    font-size: 3.5rem;
}

.msg-container {
    margin-top: 5rem ;
}

#msg { 
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}

body {
    background-image: url("./images/kristaps.jpg");
    background-size: cover;
}