* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-image: url("./images/fatih.jpg");
    background-size: cover;
}

#navbar{
    height: 35px;
    background-color: #0f1111;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
button {
    background-color: #f08804;
}
#logo {
    color: #f08804;
    font-size: 20px;
}
a {
    margin-right: 150px;
    text-decoration: none;
}
input {
    color: black;
    width: 300px;
}

/* header {
    background-color: #f08804;
} */

/* p {
    color: #0f1111;
    font-size: 30px;
    text-align: center;
} */

footer {
    background-color: #0f1111;
    text-align: center;
    color: white;
}

.contentBox {
    height: 350px;
    width: 230px;
    border: 2px solid black;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 15px;
    text-align: center;
    color: #0f1111;
    
}

#content {
    height: 1200px;
    /* background-color: pink; */
}

#foot {
    display: flex;
    justify-content: start;
    justify-content: space-between;
}

.footBox {
    height: 300px;
    width: 200px;
    border: 1px black;
    margin: 70px;
    text-align: center;
    display: inline-block;
    /* background-color: aqua; */
    margin-right: 100px;
    background-color: blueviolet;
}